.game-container {
    display: flex;
}

.rod {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-image: url(https://static.thenounproject.com/png/645164-200.png);
    background-position: center;
    background-position-y: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 400px;
}

.disk {
    height: 50px;
    border: 1px solid black;
    background-color: red;
}